.control-btn {
  border: none;
  padding: 12px 24px;
  font-family: 'Roboto';
  background-color: #eb3182;
  cursor: pointer;
  color: #fff;
}

.page-no {
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid black;
  padding: 8px 16px;
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ed9fc1;
  padding: 10px 20px 10px 20px;
}